body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'source Sans Pro', sans-serif;
}

/* SEÇÃO TOPO */

.container-topo{
    background-color: #ffffff;
    display: relative;
}

.container-logo{
    margin: 0 auto;
    padding: 20px 150px;

}

.titulo-logo a{
    padding: 10px;
    font-size: 26px;
    text-decoration: none;
    color: black;
    position: absolute;
} 

.titulo-logo .texto-azul{
    text-decoration: none;
    color: #0184de;
}

.container-logo .links-logo{
    display: flex;
    padding-top: 9px;
    justify-content: flex-end;
}

.links-logo a{
    text-decoration: none;
    padding: 0 25px;
    color: black;
    font-size: 26px;
}


/* SEÇÃO BANNER */ 

.container-main{
    background-image: url('/assets/img-fundo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0 auto;
    height: 320px;
}


/* SEÇÃO QUARTOS */
.quarto-solteiro, .quarto-casal, .quarto-familia{
    max-width: 1024px;
    margin: 100px auto;
    text-align: center;
}

.quarto-solteiro h1, .quarto-casal h1, .quarto-familia h1{
    font-size: 46px;
    font-weight: normal;

}

.quarto-solteiro p, .quarto-casal p, .quarto-familia p{
    font-size: 22px;

}

.img-quarto-solteiro, .img-quarto-casal, .img-quarto-familia{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: space-evenly;
    align-items: center;

}

.img-quarto-solteiro img, .img-quarto-casal img, .img-quarto-familia img{
    width: 500px;
    height: 300px;
    display: flex;
}

.lista-solteiro, .lista-casal, .lista-familia{
    margin: 50px auto;
    width: 1024px;

}

.lista-solteiro h2, .lista-casal h2, .lista-familia h2{
    margin: 0 auto;
    text-align: center;
    font-weight: normal;
    font-size: 30px;
}


.itens-lista-solteiro ul, .itens-lista-casal ul, .itens-lista-familia ul{
    display: flex;
    margin: 50px 0;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

.itens-lista-solteiro li, .itens-lista-casal li, .itens-lista-familia li{
    font-size: 23px;
}

/* SEÇÃO RODAPE */



.rodape {
  background-color: #49997d;
  color:#fff;
  margin: 70px 0 0 0;
}

.container-info {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
}

.card-info-rodape {
  flex: 1 0 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-info-rodape h4 {
  font-size: 22px;
}

.card-info-rodape a {
  display: flex;
  align-items: center;
  color: #fff;
  text-decoration: none;
}

.card-info-rodape p {
  margin-left: 10px;
}

.card-info-rodape img {
  width: 40px;
  height: 40px;
}

.container-copright {
  padding: 20px;
  font-weight: 600;
  text-align: center;
  border-top: 1px solid #3b7863;
}